<div class="content">
  <button ng-click="order = 'name'">Nach Name sortieren</button>
  <button ng-click="order = 'category'">Nach Kategorie sortieren</button>
  <input type="text" ng-model="search" placeholder="Nach Artikel suchen" />
  <ul>
    <li ng-repeat="article in inventory | orderBy: order | filter: search" ng-show="article.available">
      <img ng-src="{{article.thumb}}" style="margin: -12px 10px 0 0; float: left; width: 50px;"
           ng-show="article.thumb"/>
      <h3>{{article.name}} - {{article.price | currency: '€'}}</h3>
      <div class="remove" ng-click="removeArticle(article)">x</div>
      <div class="edit" ng-click="editArticle(article)">#</div>
      <span class="category">{{article.category}}</span>
    </li>
  </ul>

  <form name="addArticleForm" ng-submit="addArticle()" ng-hide="editProduct" novalidate>
    <input type="text" placeholder="Name" name="name" ng-model="newArticle.name" ng-required="true" />
    <div ng-show="addArticleForm.name.$touched && addArticleForm.name.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültigen Namen eingeben </small>
    </div>
    <input type="text" placeholder="Kategorie" name="category" ng-model="newArticle.category" ng-required="true" />
    <!-- <select name="category" ng-model="newArticle.name" ng-required="true" />
      <option selected hidden>Kategorie wählen</option>
      <option value="paper">Papier</option>
      <option value="pen">Stifte</option>
    </select>  Please uncomment and use when styling this field-->
    <div ng-show="addArticleForm.category.$touched && addArticleForm.category.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültige Kategorie eingeben </small>
    </div>
    <input type="text" placeholder="Preis" name="price" ng-model="newArticle.price" ng-required="true" />
    <div ng-show="addArticleForm.price.$touched && addArticleForm.price.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültigen Preis eingeben </small>
    </div>
    <textarea placeholder="Beschreibung" name="description" ng-model="newArticle.description" ng-required="true" ></textarea>
    <div ng-show="addArticleForm.description.$touched && addArticleForm.description.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültige Beschreibung eingeben </small>
    </div>
    <input type="number" placeholder="Menge" name="quantity" ng-model="newArticle.quantity" ng-required="true" />
    <div ng-show="addArticleForm.quantity.$touched && addArticleForm.quantity.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültige Menge eingeben </small>
    </div>
    <input type="file" placeholder="Bild" ng-model="newArticle.thumb" />
    <input type="submit" value="Artikel hinzufügen" ng-disabled="addArticleForm.$invalid" />
  </form>

  <form name="editArticleForm" ng-submit="editArticle()" ng-if="editProduct" novalidate>
    <input type="text" placeholder="Name" name="name" ng-model="existingArticle.name" ng-required="true" />
    <div ng-show="editArticleForm.name.$touched && editArticleForm.name.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültigen Namen eingeben </small>
    </div>
    <input type="text" placeholder="Kategorie" name="category" ng-model="existingArticle.category" ng-required="true" />
    <!-- <select name="category" ng-model="newArticle.name" ng-required="true" />
      <option selected hidden>Kategorie wählen</option>
      <option value="paper">Papier</option>
      <option value="pen">Stifte</option>
    </select>  Please uncomment and use when styling this field-->
    <div ng-show="editArticleForm.category.$touched && editArticleForm.category.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültige Kategorie eingeben </small>
    </div>
    <input type="text" placeholder="Preis" name="price" ng-model="existingArticle.price" ng-required="true" />
    <div ng-show="editArticleForm.price.$touched && editArticleForm.price.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültigen Preis eingeben </small>
    </div>
    <!-- <textarea placeholder="Beschreibung" name="description" ng-model="existingArticle.description" ng-required="true" ></textarea>
    <div ng-show="editArticleForm.description.$touched && editArticleForm.description.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültige Beschreibung eingeben </small>
    </div>
    <input type="number" placeholder="Menge" name="quantity" ng-model="existingArticle.quantity" ng-required="true" />
    <div ng-show="editArticleForm.quantity.$touched && editArticleForm.quantity.$invalid"
      <small style="color:red; display: block; text-align: center;"> Gültige Menge eingeben </small>
    </div>
    <input type="file" placeholder="Bild" ng-model="existingArticle.thumb" /> -->
    <input type="submit" value="Artikel speichern" ng-disabled="editArticleForm.$invalid" ng-click="saveArticle()">
  </form>
</div>
