<div id="contact">
    <h1>Kontakt</h1>
    <h2>Wir w&uumlrden uns freuen von dir zu h&oumlren!</h2>

    <div id="contact-form-main">
        <div id="contact-form-div">
            <form class="form" id="form1">

                <p class="name">
                    <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
                </p>

                <p class="email">
                    <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
                </p>

                <p class="text">
                    <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Nachricht"></textarea>
                </p>


                <div class="submit">
                    <input type="submit" value="Bestätigen" id="form-button"/>
                </div>
            </form>
        </div>
    </div>

        <h1>Unsere &Oumlffnungszeiten:</h1>
        <h2>Montag - Freitag: 9:00 - 20:00</h2>
        <h2>Samstag: 10:00 - 18:00</h2>
        <h2>Sonntag: geschlossen</h2>

</div>