<div id="privacy" xmlns="http://www.w3.org/1999/html">
    <h1>Datenschutz</h1>

    <p>Wir freuen uns &uuml;ber Ihr Interesse an unserer Webseite. Der Schutz Ihrer Privatsph&auml;re ist für uns sehr wichtig,
    deshalb m&ouml;chten wir Sie gern ausf&uumlhrlich &uuml;ber den Umgang mit Ihren Daten informieren.</p>

    <h3>Personenbezogene Daten</h3>

    <p>Personenbezogene Daten sind Einzelangaben über Ihre Person, wie beispielsweise Ihr Name und Ihre Anschrift,
    Ihr Geburtsdatum, Ihre E-Mail Adresse oder Ihre Telefonnummer.</p>

    <h3>Erhebung personenbezogener Daten</h3>

    <p>Wir nehmen den Grundsatz der Datensparsamkeit sehr ernst. Deshalb erheben wir Ihre personenbezogenen Daten nur dann,
    wenn es unerl&auml;sslich ist. Sollten Sie also unseren Online Store besuchen, ohne etwas zu kaufen oder sich zu registrieren,
    k&ouml;nnen Sie dies grunds&auml;tzlich ohne Offenlegung Ihrer Identit&auml;t tun.
    In Verbindung mit dem Zugriff auf unsere Seiten werden dann serverseitig ausschlie&szlig;lich Ihre IP-Adresse, Datum,
    Uhrzeit und die betrachteten Seiten gespeichert. Anhand dieser Daten sind Sie jedoch f&uuml;r uns als Person nicht erkennbar
    </br></br>
    Sobald Sie eine Bestellung aufgeben m&ouml;chten, fragen wir Sie nach Ihrem Namen, Ihrer Anschrift und E-Mail Adresse,
    dem Geburtsdatum und Ihrer Telefonnummer. Ihren Namen und Ihre Anschrift ben&ouml;tigen wir, um Ihre Bestellung abwickeln zu k&ouml;nnen.
    Ihre Telefonnummer erheben wir ebenfalls f&uuml;r die ordnungsgem&auml;&szlig;e und reibungslose Bestellabwicklung.
    Es kann notwendig sein, Sie gegebenenfalls telefonisch zu kontaktieren, wenn es R&uuml;ckfragen im Zusammenhang mit der Abwicklung
    Ihrer Bestellung gibt. Wir verwenden Ihre Telefonnummer ausschlie&szlig;lich zu den genannten Zwecken.
    Grundlos werden wir Sie nicht anrufen oder Ihnen eine SMS schicken. Ihre E-Mail Adresse erheben wir, um Ihre Bestellung best&auml;tigen
    zu k&ouml;nnen. Wir verwenden Ihre E-Mail-Adresse ausschlie&szlig;lich zu den genannten Zwecken.Die Angabe Ihres Geburtsdatums
    ist f&uuml;r uns unerl&auml;sslich, um Sie im Falle einer von Ihnen gew&uuml;nschten Bezahlung per Rechnung bei der Pr&uuml;fung Ihrer Bonit&auml;t
    eindeutig von anderen Nutzern unterscheiden zu k&ouml;nnen. Zudem m&uuml;ssen Sie das 18. Lebensjahr vollendet haben um im Gute Mine Online Shop
    eine Bestellung aufgeben zu k&ouml;nnen.
    </p>

    <h3>Verwendung der personenbezogenen Daten/ &Uuml;bermittlung</h3>

    <p>Wir verwenden Ihre personenbezogenen Daten ausschlie&szlig;lich f&uuml;r die oben genannten Zwecke.
    Ihre Daten werden im Gute Mine Online Shop zum Zwecke der Abwicklung Ihrer Bestellung und Bezahlung verwendet.
    </br></br>
    Wenn Sie die Zahlart Rechnung ausw&auml;hlen, werden Ihre Daten daneben zum Zwecke der Pr&uuml;fung Ihrer Bonit&auml;t
    und zur Verifizierung Ihrer Adressdaten weitergeleitet.
    </br></br>
    </p>

    <h3>Fremde Webseiten</h3>

    <p>Unser Datenschutzhinweis bezieht sich nur auf die Webseiten des Gute Mine Online Shops. Gute Mine hat keinen Einfluss darauf,
    dass die Betreiber verlinkter Webseiten die Datenschutzbestimmungen einhalten.
    </p>
</div>