<div id="sitenotice">
    <h1>Impressum</h1>

    <h4>Gute Mine GmbH</h4>
    <p>
        Jungstraße 12</br>
        10247 Berlin</br>
        Deutschland
    </p>

    <p>
        Telefon: +(49)30 578 666 43</br>
        E-Mail: office@gutemine.com
    </p>

    <p>
        Gesch&auml;ftsführung: Lauren Schulze</br>
        Handelsregister: Amtsgericht Berlin HRB 8946</br>
        USt-IdNr: Ust.ID DE647020
    </p>

    <h4 id="advice">Rechtshinweis</h4>

    <p>
        Alle Rechte vorbehalten. Die Inhalte dieser Website sind urheberrechtlich gesch&uuml;tzt.
        Jede Vervielf&auml;ltigung, Vorf&uuml;hrung, Sendung, Vermietung und/oder Leihe der Website oder einzelner
        Inhalte ist ohne Einwilligung des Rechteinhabers untersagt und zieht straf- oder zivilrechtliche Folgen nach sich.
        Insbesondere d&uuml;rfen Nachdruck, Aufnahme in Online-Dienste, Internet und Vervielf&auml;ltigung auf Datentr&auml;ger
        wie CD-ROM, DVD-ROM usw., auch auszugsweise, nur nach vorheriger schriftlicher Zustimmung durch die Gute Mine GmbH erfolgen.
        F&uuml;r Inhalte externer Links und fremde Inhalte &uuml;bernimmt die Gute Mine GmbH keine Verantwortung.
    </p>
</div>