.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

#bootstrapOverride {
    /*background-image: url(https://daks2k3a4ib2z.cloudfront.net/57289665989457a16b40023a/57289665989457a16b400261_noise.png);*/
    background-color: white;
    /*border-top: 2px dashed black;*/
    border-bottom: 2px dashed black;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-size: 110%;
}

 .content {
    padding-top: 120px;
}

#bootstrapOverride li a:hover {
    color: #cc9900;
}

#bootstrapOverride li a {
    color: #A5A5A5;
    padding-left: 20px;
    padding-right: 20px;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

#logoBig {
    display: block;
    margin: -20px auto;
    margin-bottom: -30px;
    width: 40%;
    max-width: 100%;
    height:auto;
}

#menuIconsXL {
    position: relative;
    bottom: 2px;
}

#menuIconsXS {
    position: relative;
    bottom: -2px;
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        margin-top: -3px;
        margin-left: 5px;
    }

    #bootstrapOverride  .divider {
        height: 1px;
        width:100%;
        display:block; /* for use on default inline elements like span */
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .navbar-collapse {
      clear: right;
    }

      .navbar-nav li {
        font-size: 80%;
      }

}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar-nav li {
      margin-top: -5px;
      margin-bottom: -20px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 884px) and (min-width: 768px){
  #bootstrapOverride li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
  }
  .navbar-nav li {
    margin-top: 0;
    margin-bottom: -30px;
  }

}

@media (min-width: 768px) and (max-width: 1000px){
  #logoBig {
    padding-top: 10px;
  }

  #bootstrapOverride li a {
    font-size: 90%;
  }

  .navbar-nav li {
    margin-top: 5px;
    margin-bottom: -30px;
  }
}
